<h1>Sign up for a beta account</h1>
<p>Sign up for a beta account to be among the first to try out LetMeSingNow!</p>
<p>All services are free for our beta testers</p>
<%= render 'form' %>

<!--<%= link_to 'Back', beta_testers_path %>-->
