<h1><%= @dj.name %>'s Song List | Artists</h1>

<ul class="songs">
  <% @songs.each do |song| %>
    <li>
      <%= link_to song.artist, dj_songs_by_artist_path(@dj,song.artist) %>
    </li>
  <% end %>
</ul>
