<h1>About Us</h1>
<p>LetMeSingNow allows dj's to make their songlists digital. Singers can browse the songlist and sign up to sing - all from their phone! </p>
<p>Questions? Comments? We'd love to hear from you.</p>
<p>contact@letmesingnow.com</p>
