<h1>Sign Up for Karaoke from your phone!</h1>

  <p>
    LetMeSingNow allows dj's to make their songlists digital. Singers can browse the songlist and sign up to sing - all from their phone!
  </p>

  <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
