<h1>Sign Up for Karaoke from your phone!</h1>

  <p>
    LetMeSingNow gives dj's the cutting edge technology to make their song list digital. Singers can browse your songlist and sign up to sing - all from their phone! No more paper slips or waiting in line for a song book. Come and join the future of karaoke. 
  </p>

  <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
